@import 'tailwindcss';
@import './themes.css';

@source "../js";
@source "../../resources/views";
@source "../../storage/framework/views";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-bg-base: var(--theme-bg-base);
    --color-bg-card: var(--theme-bg-card);
    --color-bg-sidebar: var(--theme-bg-sidebar);
    --color-bg-hover: var(--theme-bg-hover);

    --color-text-base: var(--theme-text-base);
    --color-text-muted: var(--theme-text-muted);
    
    --color-border-base: var(--theme-border-base);

    --color-primary: var(--theme-primary);
    --color-primary-hover: var(--theme-primary-hover);
    --color-primary-light: var(--theme-primary-light);
    --color-primary-light-hover: var(--theme-primary-light-hover);
    --color-primary-text: var(--theme-primary-text);

    --color-danger: var(--theme-danger);
    --color-danger-hover: var(--theme-danger-hover);
    --color-danger-light: var(--theme-danger-light);
    --color-danger-text: var(--theme-danger-text);
}

body {
    @apply bg-bg-base text-text-base transition-colors duration-300;
}

/* Custom Slim Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-border-base rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-text-muted;
}
